HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Testing
.driver
.gatling
error-screenshots
selenium_standalone_zips
webdriver/

# Frontend
/build-tools/bin/
/build-tools/etc/
/build-tools/lib/
/build-tools/node/
/build-tools/node_modules/
/build-tools/yarn.lock

# NPM
node_modules
webpack.generated.js
package-lock.json
node/
