.branding_label {
    padding: 0.5rem 0;
}

.branding__logo {
    padding: 0.5rem;
}

.branding__logo > img {
    width: auto;
    height: var(--lumo-font-size-xl);
    vertical-align: middle;
}

.shoppinglist__summary {
    width: 100%;
    flex-wrap: wrap;
}

.shoppinglist__summary > * {
    padding: var(--lumo-space-xs);
    padding-left: 0;
    width: 10rem;
}

.shoppinglist__summary > * + * {
    padding: var(--lumo-space-xs);
    width: 10rem;
}