html {
    --lumo-primary-text-color: rgb(246, 65, 92);
    --lumo-primary-color-50pct: rgba(246, 65, 92, 0.5);
    --lumo-primary-color-10pct: rgba(246, 65, 92, 0.1);
    --lumo-primary-color: hsl(351, 91%, 61%);
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.branding_label {
    padding: 0.5rem 0;
}

.branding__logo {
    padding: 0.5rem;
}

.branding__logo > img {
    width: auto;
    height: var(--lumo-font-size-xl);
    vertical-align: middle;
}

.shoppinglist__summary {
    width: 100%;
    flex-wrap: wrap;
}

.shoppinglist__summary > * {
    padding: var(--lumo-space-xs);
    padding-left: 0;
    width: 10rem;
}

.shoppinglist__summary > * + * {
    padding: var(--lumo-space-xs);
    width: 10rem;
}