.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100%;
}

.workspace > h1 {
    margin: 2rem 0;
}

.workspace > vaadin-text-field,
.workspace > vaadin-button {
    width: 15rem;
}

.workspace__image {
    max-width: 10em;
}

.workspace__separator {
    color: var(--lumo-tertiary-text-color);
    font-weight: bold;
}